.control-row {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
.control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-actions .text-button {
  color: #1d1a16;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}