.button {
    cursor: pointer;
    background-color:  #312c1d;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%; 
    border-radius: 50px;
    color: white;
    font-size: 0.9rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

 .button:hover, .button:active{
    background-color: #1d1a16;
    color: #ffab04;
 }